.user {
   display: flex;
   flex-flow: column;
   align-items: center;
   border: solid 1px lightgray;
   border-radius: 18px;
   margin: 4% 0;
   width: 50%;
}

.user > img {
   width: 82%;
   border-radius: 5px;
   margin-bottom: 4%;
}

.user > h3 {
   margin: 3% 0;
}

.user p {
   display: flex;
   width: 50%;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 3%;
}

.user > a {
   text-decoration: none;
   margin-bottom: 4%;
   color: lightgray;
   transition: all 1.2s ease-out;
}

.user a:hover {
   color: black;
}
